.newsPageInfoContent {
    display: grid;
    grid-template-areas:
        "title title"
        "info  button";
    grid-gap: 10px;
    align-items: center;
    justify-items: center;

    padding-top: 15px;
}

.title {
    grid-area: title;

    margin-top: 10px;
    font-family: "Verdana", sans-serif;
    font-size: 25px;
    font-weight: bold;
}

.url {
    text-decoration: none;
    color: black;
}

.url:hover {
    text-decoration: underline;
}

.info {
    grid-area: info;
    align-self: start;
    justify-self: start;

    margin-top: 10px;
    font-family: "Verdana", sans-serif;
    font-size: 15px;
}

.backButton {
    grid-area: button;
}
