.commentContainer {
    margin: 10px;
    border-left: 3px grey solid;
    padding-left: 10px;
}

.author {
    font-weight: bold;
}

.text {
    font-size: 14px;
    padding: 10px;
    overflow: hidden;
}

.nestedCommentContent {
    margin-left: 10px;
    cursor: pointer;
}

.countOfReply {
    font-style: italic;
}