.commentContainer {
    margin: 10px;
    padding-left: 10px;

    border-left: 3px grey solid;
}

.author {
    font-weight: bold;
}

.text {
    padding: 10px;

    overflow: hidden;

    font-size: 14px;
}

.nestedCommentContent {
    margin-left: 10px;

    cursor: pointer;
}

.countOfReply {
    font-style: italic;
}

.nestedComments > div > img {
    height: 50px !important;
}