.titleContent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    align-items: center;
    justify-items: center;

    margin-top: 10px;
}

.title {
    grid-column: 2;

    padding: 15px;

    font-size: 30px;
    color: black;
    text-align: center;
    font-family: "Verdana", sans-serif;
}

.smallPreloader img {
    width: 40px !important;
}